{% extends 'base.html'%}

{%block content%}
<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
          <h2 class="text-sm title-font text-gray-500 tracking-widest">MEMBER'S NAME</h2>
          <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">{{사람키.first_name}} {{사람키.last_name}}</h1>
          <div class="flex mb-4">
            <a class="flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1">Customer Info</a>
            <a class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">Evaluation</a>
            <a href="{% url 'homepage:Update' 사람키.pk%}"
            class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">Update</a>
          </div>
          <p class="leading-relaxed mb-4">A person who wants to go back to HOME</p>
          <div class="flex border-t border-gray-200 py-2">
            <span class="text-gray-500">AGE</span>
            <span class="ml-auto text-gray-900">{{사람키.age}}</span>
          </div>
          <div class="flex border-t border-gray-200 py-2">
            <span class="text-gray-500">RESIDENCE</span>
            <span class="ml-auto text-gray-900">Tokyo</span>
          </div>
          <div class="flex border-t border-b mb-6 border-gray-200 py-2">
            <span class="text-gray-500">CONTECT</span>
            <span class="ml-auto text-gray-900">050-0000-0000</span>
          </div>
          
        </div>
        <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="https://dummyimage.com/400x400">
      </div>
    </div>
  </section>
<a href="{% url 'homepage:List' %}" style="text-decoration:none;">Back to List</a>
    <h1 style="text-align: center;">SaleNotice [{{사람키.last_name}}]</h1>
<div class="sale">
<a>age : {{사람키.age}}</a>
<p>menber is [{{사람키.person}}]</p>
<a href="{% url 'homepage:Update' 사람키.pk%}">Update</a>
<a href="{% url 'homepage:Delete' 사람키.pk%}">Delete</a>
</div>
{% endblock content %}
